{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
<link href='https://fonts.googleapis.com/css?family=Tulpen+One' rel='stylesheet' type='text/css'>


<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Chris Hardee</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li><a href="/portfolio">Portfolio</a></li>
        <li class="active"><button type="button" class="btn btn-default navbar-btn"><a href="/admin">Sign in<span class="sr-only">(current)</span></a></li>
       </ul>
    </div>
   </div>
</nav>
