<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Chris's Programming Playground</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" />
<link href='https://fonts.googleapis.com/css?family=Tulpen+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script language="javascript" type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<script language="javascript" type="text/javascript" src="static/js/test.js"></script>
<script language="javascript" type="text/javascript" src="static/js/flashingheader.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/style.css"" media="screen" />
</head>
<body>



{% include "nav/index.html" %}




<div class="row">
	<div class="col-md-2"><!--<button class="btn btn-default themeSelectionButton" type="submit">Change Theme Color</button>-->
	<div class="colorselection row" style="display: none;">
		
			<div class="col-md-4 blue">blue</div>
			<div class="col-md-4 yellow">yellow</div>
			<div class="col-md-4 green">green</div>
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
			<div class="col-md-4 save">
				<button class="btn save" type="submit">Save</button>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-xs-12"><img class="me" src='static/uploads/images/Chris_Portfolio.jpg'>
</div>

	<div class="col-md-6 col-xs-12 introduction"><h1 class="flashing">Welcome!</h1>
		<p>My name is Chris. I love to do creative work. This includes programming, designing web pages, and playing music. My journey in the tech world started when I was 10 years old. I built my first computer without failure at 12. In middle school I learned the basics of Visual Basic and HTML. I attended a technical highschool for my senior year for Information Technology and delved in web design. <br> <br>In 2014, I graduated from the University of South Florida. My area of focus was on Information Architecture and web development.
<br></p>
<p> Some of the courses that I completed in college were:	
<ul>
	<li>C++</li>
	<li>Engineering IT Data Structures with Java</li>
	<li>Information Architecture</li>
	<li>Information Behaviours</li>
	<li>Java</li>
	<li>Intro to Web Development</li>
</ul>
</p>  
<p>
	Mousebit Web Solutions was a business that was created by me and a friend at the end of 2014. Mousebit has transitioned into being my freelance company.  

</p><br>
<button class="resume" type="submit" onclick="window.open('static/uploads/CGHardee_Resume.pdf')">View Resume</button>
<button class="contact">Contact Me</button>

</div>
	<div class="col-md-2"></div>
</div>
</body>
</html>

