<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Chris's Programming Playground</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" />
<link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>

<script language="javascript" type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/style.css"" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>
{% include "nav/index.html" %}

 <div class="row portfolio_title">
	<div class="col-md-4">
	
	</div>
	<div class="col-md-4"><h1 style="text-align: center;">Portfolio</h1></div>
	<div class="col-md-4 test"></div>
</div>
  <div class="row">
      {% for project in project_list %}
      <div class="col-md-4 portfolio-item">
	<div class="portfolio-border">
         <h2> {{project.business_name}}</h2><br>
          <img src="/media/{{project.screenshot}}"><br>
         <p> {{project.description}}<br>
       <a href="http://{% autoescape on %}{{ project.business_url }}{% endautoescape %}">{{project.business_url}}</a></p>
      </div>
	</div>
      {% endfor %}
  </div>


</body>
</html>

