body {
        font-family: 'Open Sans', sans-serif;
	background-color: #4C4B4B;
	color: white;
}
h1, h2 {
        font-family: 'Tulpen One', cursive;

}
h1 {
	color: #22ACFF;
	font-size: 800%;
}
h2 {
	color: white;

}
p, h3, h4, h5, h6 {
        font-family: 'Open Sans', sans-serif;

}
p, ul {
	font-size: 13pt;


}
.navbar-brand {
	font-family: 'Tulpen One', cursive;
	font-size: 40pt;
	color: #AA6300 !important;

}
.colorselection {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
	margin-left: 1%;
	background-color: white;
	
}

.themeSelectionButton {
	margin-left: 1%;

}
.blue {
	background-color: blue;
	height: 40px;
	border: 1px solid black;
}
.yellow {
	background-color: yellow;
	border: 1px solid black;
	height: 40px;
		
}
.green {
	background-color: green;
	border: 1px solid black;
	height: 40px;
}
.portfolio-item img{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.portfolio-item h2 {
	text-align: center;
	background-color: black;
	font-size: 400%;
}
.portfolio-item p {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 13pt;
	color: black;
}
.portfolio-item {
	padding: 1.5%;
}
.portfolio-border {
	border: 1px solid black;
	border-radius: 5px;
	background-color: #8E9196;
	height: 380px;
}
body > div:nth-child(5) > div:nth-child(4) > div > img {
	width: 20%;


}
.introduction {
	padding: 4%;
}
.portfolio_title {
	padding: 3%;

}

.flashing {
    animation: glow 3s infinite alternate;

}
@keyframes glow {
    to {
        text-shadow: 0 0 10px orange;
	color: white;
    }
}



.flashing:hover, .flashing.glow{
	text-shadow: 0 0 10px white;
}

.contact {
	padding: 1%;
	background-color: #F79208;
	color: black;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px; 
	font-size: 16pt;
}
.resume {
	padding: 1%;
	background-color: #F79208; 
	color: black;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px; 
	font-size: 16pt;
}
.me {
	width: 100%;
	border: 1px solid black;
	margin-top: 40%;
}
